---
layout: page
title: Do More
permalink: /do-more/
---

<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>

<div class='container'>
  <div class='row'>
    <div class='col-2'></div>
    <div class='col-8 center'>
      <img src='{{ "/assets/images/image-placeholder.png" | relative_url }}' style='max-width: 300px;'/>
      <div class='spacing'></div>
      <h3>Streamline Your Workflow</h3>
      <h4>
        The
        <a class='source' href='https://www.entrepreneur.com/article/240076' target='_blank'>
          average team spends only 45% of their time getting actual work done</a>.
        Don't be one of them. Openly extends your Google Drive with a proven
        workflow, so you and your team can focus on what really matters.
      </h4>
    </div>
    <div class='col-2'></div>
  </div>
</div>


<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>

<div class='container'>
  <div class='row'>
    <div class='col-1'></div>
    <div class='col-4 center'>
      <img src='{{ "/assets/images/image-placeholder.png" | relative_url }}' style='max-width: 100%;'/>
    </div>
    <div class='col-1'></div>
    <div class='col-6'>
      <h1>Get Work Done</h1>
      <p>
        Up to
        <a class='source' target="_blank" href='https://medium.com/@diamond_io/productivity-lost-time-and-the-power-of-ai-to-make-search-easier-a59d4cd85a26'>
          4.5 hours per week are lost searching for documents</a> due to poor file structure.
        Openly helps you organize your Google Drive folders and files into projects, so your
        team can get back to work faster.
      </p>
    </div>
  </div>
</div>

<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>

<div class='container'>
  <div class='row'>
    <div class='col-6'>
      <h1>Never Miss A Beat</h1>
      <p>
        Insufficient communication can be costly.
        Our project feed and customizable notifications make it easy for your
        whole team to stay on top of all your projects - even when things get busy.
      </p>
    </div>
    <div class='col-1'></div>
    <div class='col-4 center'>
      <img src='{{ "/assets/images/image-placeholder.png" | relative_url }}' style='max-width: 100%;'/>
    </div>
    <div class='col-1'></div>
  </div>
</div>

<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>

<div class='container'>
  <div class='row'>
    <div class='col-1'></div>
    <div class='col-4 center'>
      <img src='{{ "/assets/images/image-placeholder.png" | relative_url }}' style='max-width: 100%;'/>
    </div>
    <div class='col-1'></div>
    <div class='col-6'>
      <h1>Preserve Your Most Valuable Asset: Knowledge</h1>
      <p>
        75% of organizations lack a documentation process meaning they lose critical
        knowledge over time.
        Openly nudges you to capture knowledge and
        learning whenever you make changes to files. You will thank yourself later.
      </p>
    </div>
  </div>
</div>

<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>
