---
layout: page
title: Work Together
permalink: /work-together/
---

<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>

<div class='container'>
  <div class='row'>
    <div class='col-2'></div>
    <div class='col-8 center'>
      <img src='{{ "/assets/images/image-placeholder.png" | relative_url }}' style='max-width: 300px;'/>
      <div class='spacing'></div>
      <h3>A New Way to Work Together</h3>
      <h4>
        Openly
      </h4>
    </div>
    <div class='col-2'></div>
  </div>
</div>


<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>

<div class='container'>
  <div class='row'>
    <div class='col-1'></div>
    <div class='col-4 center'>
      <img src='{{ "/assets/images/image-placeholder.png" | relative_url }}' style='max-width: 100%;'/>
    </div>
    <div class='col-1'></div>
    <div class='col-6'>
      <h1>Accelerate Your Ideation</h1>
      <p>
        Whatever problem you're solving, you are not alone. Openly is a
        network of organizations that are openly sharing their work, so that
        we can build upon each other's results and innovate faster.
      </p>
    </div>
  </div>
</div>

<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>

<div class='container'>
  <div class='row'>
    <div class='col-6'>
      <h1>Create What Matters</h1>
      <p>
        38% of startups fail because they do not solve a real problem. With
        Openly, you can bring mentors, peers, and stakeholders to
      </p>
    </div>
    <div class='col-1'></div>
    <div class='col-4 center'>
      <img src='{{ "/assets/images/image-placeholder.png" | relative_url }}' style='max-width: 100%;'/>
    </div>
    <div class='col-1'></div>
  </div>
</div>

<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>

<div class='container'>
  <div class='row'>
    <div class='col-1'></div>
    <div class='col-4 center'>
      <img src='{{ "/assets/images/image-placeholder.png" | relative_url }}' style='max-width: 100%;'/>
    </div>
    <div class='col-1'></div>
    <div class='col-6'>
      <h1>Preserve Your Most Valuable Asset: Knowledge</h1>
      <p>
        75% of organizations lack a documentation process meaning they lose critical
        knowledge over time.
        Openly nudges you to capture knowledge and
        learning whenever you make changes to files. You will thank yourself later.
      </p>
    </div>
  </div>
</div>

<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>
