<footer class="site-footer h-card almost-black" style='position: relative;'>
  <div class='light-grid full-size'></div>
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="container white-text">
    <div class='row bottom-align'>
      <div class='col-4' style='border-right: 1px solid grey;'>
        <strong>Openly</strong><br/>
        Create Change Together
      </div>
      <div class='col-4' style='border-right: 1px solid grey;'>
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <a class="page-link white-text" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a><br/>
          {%- endif -%}
        {%- endfor -%}
      </div>
      <div class='col-4'>
        hello@openly.one<br/>
        a public benefit corporation
      </div>
    </div>
  </div>
</footer>
