.site-header {
  background-color: $black;
  border: 0;
  color: $white;
  height: $header-height;
  min-height: $header-height;

  .site-title {
    color: $white;
  }
}

.page-content {
  border: 0;
  padding: 0;
}

.site-footer {
  border-top: 0;
}

.site-nav .page-link {
  color: $white;
}
