---
# Only the main Sass file needs front matter (the dashes are enough)
---

$black: #000;
$white: #fff;

$theme-color: #4285f4;
$theme-font-color: $white;

$header-height: 56px;

@import 'grid';
@import 'minima';
@import 'minima-overrides';
@import 'custom';
