---
layout: hero
---

<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>

<div class='container'>
  <div class='row'>
    <div class='col-1'></div>
    <div class='col-4 center'>
      <img src='{{ "/assets/images/image-placeholder.png" | relative_url }}' style='max-width: 100%;'/>
    </div>
    <div class='col-1'></div>
    <div class='col-6'>
      <h1>Streamline Your Workflow</h1>
      <p>
        The
        <a class='source' href='https://www.entrepreneur.com/article/240076' target='_blank'>
          average team spends only 45% of their time getting actual work done</a>.
        Don't be one of them. Openly extends your Google Drive with a proven
        workflow, so you and your team can focus on what really matters.
        <!-- Bring project management to Google Drive. Organize folders and files
        into projects, track changes made by your team, and manage tasks. -->
      </p>
      <a class='button' href='{{ "/do-more/" | relative_url }}'>
        <div>
          <div class='theme-color'>
            Do More
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>

<div class='container'>
  <div class='row'>
    <div class='col-6'>
      <h1>Accelerate Your Ideation</h1>
      <p>
        Whatever problem you're solving, you are not alone. Openly is a
        network of organizations that are openly sharing their work, so that
        we can build upon each other's results and innovate faster.
      </p>
      <a class='button' href='{{ "/work-together/" | relative_url }}'>
        <div>
          <div class='theme-color'>
            Work Together
          </div>
        </div>
      </a>
    </div>
    <div class='col-1'></div>
    <div class='col-4 center'>
      <img src='{{ "/assets/images/image-placeholder.png" | relative_url }}' style='max-width: 100%;'/>
    </div>
    <div class='col-1'></div>
  </div>
</div>

<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>

<div class='container'>
  <div class='row'>
    <div class='col-1'></div>
    <div class='col-4 center'>
      <img src='{{ "/assets/images/image-placeholder.png" | relative_url }}' style='max-width: 100%;'/>
    </div>
    <div class='col-1'></div>
    <div class='col-6'>
      <h1>Connect with Changemakers</h1>
      <p>
        The
        <a class='source' href='https://ssir.org/articles/entry/creating_high_impact_nonprofits' target='_blank'>
          #1 factor in making real impact is collaboration with other
        organizations</a>. Openly is a community of changemakers committed to creating change together.
        Join us and find collaborators.
      </p>
      <!-- <a class='button'>
        <div>
          <div class='theme-color'>
            Why Openly?
          </div>
        </div>
      </a> -->
    </div>
  </div>
</div>

<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>
<div class='spacing'></div>

<div class='closing'>
  <div class='darken full-size'></div>
  <div class='light-grid full-size'></div>
  <div class='container center'>
    <div class='spacing'></div>
    <div class='spacing'></div>

    <h1 class='white-text' style='font-size: 300%;'>
      Change the World
    </h1>
    <h2 class='white-text'>
      Openly is a platform for people just like you.<br/>
      Dreamers, changemakers, activists.<br/>
      Let's collaborate.
    </h2>
    <div class='spacing'></div>

    <a href='https://goo.gl/forms/B3GSh7NDeFH0aw1n1' target='_blank' class='button'>
      <div>
        <div class='theme-color'>
          Request Early Access
        </div>
      </div>
    </a>

    <div class='spacing'></div>
    <div class='spacing'></div>
  </div>
</div>
